---
import Layout from "@layouts/Layout.astro";

import "@styles/style.css";

// const section_class =
//   "sm:sticky sm:left-0 sm:flex sm:flex-auto sm:flex-col sm:h-full sm:overflow-y-scroll bg-lime-100";

const section_class = `sm:sticky sm:left-0 sm:flex sm:flex-auto sm:flex-col sm:h-full sm:overflow-y-scroll bg-lime-100`;

const section_left = (x) => `left: ${x * 48}px`;

import { LoremIpsum } from "lorem-ipsum";

const lorem = new LoremIpsum({
  sentencesPerParagraph: {
    max: 8,
    min: 4,
  },
  wordsPerSentence: {
    max: 16,
    min: 4,
  },
});
---

<Layout title="panes">
  <!-- Section -->
  <div class="flex sm:flex-row">
    <!-- SectionList -->
    <div class="sm:flex sm:grow-0 sm:flex-auto sm:h-screen">
      <!-- Section -->
      {
        [...Array(10).keys()].map((x) => (
          <section class={section_class} style={section_left(x)}>
            <div class="sm:flex sm:flex-row">
              <div class="w-[48px] p-2 sm:start-0 sm:flex sm:flex-auto sm:flex-col bg-red-300 sm:[writing-mode:vertical-lr]">
                <h1 class="text-lg">
                  {lorem.generateWords(3)} {x}
                </h1>
              </div>
              <div class="w-96 p-2 prose">{lorem.generateParagraphs(13)}!</div>
            </div>
          </section>
        ))
      }
    </div>
  </div>
</Layout>
